In [1]:
import pandas as pd
import module

In [2]:
# first row is reference names, wanted to get rid of that
# This is for 2007-2009
# Contains some duplicate columns
cali = pd.read_csv("ACS_california.csv", header = 1)

In [3]:
cali.head()

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,LOGRECNO.1,GEOID,Geography Name,Population 1 year and over in the United States,...,Population 1 year and over in the United States% Moved to different state:.3,Population 1 year and over in the United States% Moved to different state:% 1 to 4 years.1,Population 1 year and over in the United States% Moved to different state:% 5 to 17 years.1,Population 1 year and over in the United States% Moved to different state:% 18 to 24 years,Population 1 year and over in the United States% Moved to different state:% 25 to 34 years,Population 1 year and over in the United States% Moved to different state:% 35 to 44 years,Population 1 year and over in the United States% Moved to different state:% 45 to 54 years,Population 1 year and over in the United States% Moved to different state:% 55 to 64 years,Population 1 year and over in the United States% Moved to different state:% 65 to 74 years,Population 1 year and over in the United States% Moved to different state:% 75 years and over.1
0,ACSSF,2010000.0,ca,0,1,1,1,04000US06,California,35914126,...,605465,42339,83503,119888,144033,82439,58586,41161,18234,15282
1,ACSSF,2010000.0,ca,0,1,13,13,05000US06001,"Alameda County, California",1437687,...,22498,946,2795,4508,5518,3776,1794,1698,611,852
2,ACSSF,2010000.0,ca,0,1,14,14,05000US06005,"Amador County, California",38663,...,653,17,51,67,104,162,58,69,78,47
3,ACSSF,2010000.0,ca,0,1,15,15,05000US06007,"Butte County, California",212883,...,2929,222,442,769,852,163,227,151,32,71
4,ACSSF,2010000.0,ca,0,1,16,16,05000US06009,"Calaveras County, California",46436,...,838,45,145,146,77,36,91,139,63,96

In [4]:
# column example with some entries less than 10
# NOTE: Need to convert types to integers here
cali['Population 1 year and over in the United States% Moved to different state:% 70 to 74 years']

0     6498
1      200
2        0
3        1
4        0
5        .
6      341
7        0
8       75
9       90
10       .
11       6
12      12
13      80
14      22
15      46
16       0
17    1374
18       0
19      40
20       0
21      76
22      71
23      73
24      75
25     600
26      39
27       .
28     760
29     173
30       7
31     450
32     661
33      92
34      60
35       0
36      97
37      35
38     230
39      67
40      51
41      69
42      80
43     108
44      58
45       0
46      21
47      76
48      33
49      97
50      24
51      28
Name: Population 1 year and over in the United States% Moved to different state:% 70 to 74 years, dtype: object

In [5]:
# test the add_8 function in the hello package
module.add_8(cali['LOGRECNO'][0])

9

In [6]:
# for reference of what the value was before the function was applied
cali['LOGRECNO'][0]

1

In [7]:
s = pd.Series(list('abcaaaaaaaaaaaaaaaaabbbbbbbbbbbbbb'))
# make dummies of the series
d = pd.get_dummies(s)

#print out d to see what the counts should be
print(d)
print(d.info())

    a  b  c
0   1  0  0
1   0  1  0
2   0  0  1
3   1  0  0
4   1  0  0
5   1  0  0
6   1  0  0
7   1  0  0
8   1  0  0
9   1  0  0
10  1  0  0
11  1  0  0
12  1  0  0
13  1  0  0
14  1  0  0
15  1  0  0
16  1  0  0
17  1  0  0
18  1  0  0
19  1  0  0
20  0  1  0
21  0  1  0
22  0  1  0
23  0  1  0
24  0  1  0
25  0  1  0
26  0  1  0
27  0  1  0
28  0  1  0
29  0  1  0
30  0  1  0
31  0  1  0
32  0  1  0
33  0  1  0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
a    34 non-null uint8
b    34 non-null uint8
c    34 non-null uint8
dtypes: uint8(3)
memory usage: 182.0 bytes
None

In [8]:
#when dummy_counts should not return any counts
module.dummy_counts(d)

These dummy variables didn't have counts of at least 10 for both when they are 1 or 0:

c

[None]

In [9]:
#when dummy_counts should return the counts
module.dummy_counts(d[['a', 'b']])

1    18
0    16
Name: a, dtype: int64
0    19
1    15
Name: b, dtype: int64

[None, None]

In [10]:
# specify argument for cutoff
module.dummy_counts(d, cutoff = 1)

1    18
0    16
Name: a, dtype: int64
0    19
1    15
Name: b, dtype: int64
0    33
1     1
Name: c, dtype: int64

[None, None, None]